@import "tailwindcss";

@theme {
  --color-primary: #030b16;
  --color-input-bg: #2d3c51;
  --color-gray-txt: #c7c7cc;
  --color-header-txt: #f2f2f7;
  --color-light-purple: #edc8ff;

  --color-dark-purple: #0c0020;
}

.radial-glow {
  background: radial-gradient(circle, #397ff7, #602eef) !important;
  box-shadow: 0 0 48px rgba(124, 87, 246, 0.59) !important; /* #7C57F696 */
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.circle-btn {
  position: relative;
  background: #6155f5;
  border-radius: 200px;
  z-index: 1;
}

.circle-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 200px; /* match parent shape */
  padding: 1px; /* border thickness */
  background: linear-gradient(90deg, #00000080, #ffffff80);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.verified_card {
  width: 300px;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    #2bffff1a 10%,
    #2bffff05 50%,
    #2bffff0f 100%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid #edc8ff4d;
  /* border-image: linear-gradient(
    135deg,
    #EDC8FF4D 30%,
    #EDC8FF2B 60%,
    #EDC8FF 100%
  ) 1; */

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.testimonial_card{
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    #2bffff1a 10%,
    #2bffff05 50%,
    #2bffff0f 100%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid #edc8ff4d;
  /* border-image: linear-gradient(
    135deg,
    #EDC8FF4D 30%,
    #EDC8FF2B 60%,
    #EDC8FF 100%
  ) 1; */

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.about_bg{
  background-image:  linear-gradient(rgba(237, 200, 255, 0.5), rgba(237, 200, 255, 0.5)), url('/images/aboutShowcase.png');
  background-position: center;
  background-size: cover;
}